.lightbox {
  .lb-image {
    border: 0;
  }

  .lb-details {
    display: none;
  }

  .lb-data .lb-close {
    background: url('../images/close.svg') no-repeat center center;
    background-size: 22px;
    opacity: 1;
  }

  .lb-nav {
    @media (min-width: $md) {
      width: 120%;
      left: -10%;
    }
  }

  .lb-nav a.lb-prev {
    width: 50%;
    background: url('../images/arrow-white.svg') no-repeat 20px 48%;
  }

  .lb-nav a.lb-next {
    width: 50%;
    background: url('../images/arrow-white.svg') no-repeat 20px 52%;
    transform: rotate(180deg);
  }
}
