.products {
  @media (min-width: $md) {
    padding-top: rem(47px);
  }

  &__options {
    @media (min-width: $md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__option {
    display: block;
    position: relative;
    margin: rem(45px) 0;

    @media (min-width: $md) {
      flex: 0 0 calc(50% - 44px);
      margin: 0 rem(22px);
    }

    img {
      display: block;
      width: 100%;
    }

    span {
      @include category;

      color: $white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      transition: $transition-standard;
    }

    &::after {
      content: '';
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../images/plus.svg') center center no-repeat rgba($black, 0.6);
      transition: $transition-standard;
    }

    &:hover {
      &::after {
        opacity: 1;
      }

      span {
        opacity: 0;
      }
    }
  }

  &__group {
    display: flex;
    flex-wrap: wrap;

    &-title {
      @include section-title;

      margin: 0 0 rem($spacer) rem($spacer);
      text-transform: none;

      @media (min-width: $md) {
        margin-left: rem(25px);
      }

      &::before {
        content: '';
        display: inline-block;
        width: 33px;
        height: 2px;
        background: $primary;
        vertical-align: middle;
        margin-right: rem(4px);
      }
    }
  }
}
