.product {
  &__title {
    @include body-title;

    text-transform: uppercase;
    text-align: center;
    margin: 0 0 rem(35px) 0;

    @media (min-width: $md) {
      margin: 0 0 rem(66px) 0;
    }
  }

  &__intitle {
    font-size: rem(14px);
    font-weight: bold;
    line-height: 1.86;
    text-transform: uppercase;
    color: $primary;
    width: 100%;
    flex: 0 0 100%;
    border-bottom: 1px solid $primary;
  }

  &__content {
    display: none;

    @media (min-width: $md) {
      display: block;
      margin-bottom: rem(52px);
    }

    &--mobile {
      display: block;

      @media (min-width: $md) {
        display: none;
      }
    }

    p {
      margin-top: 0;
    }
  }

  &__data {
    @media (min-width: $md) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__gallery {
    @media (min-width: $md) {
      flex: 0 0 54%;
      padding-right: $spacer * 3;
    }
  }

  &__item {
    position: relative;
    display: block;
    margin-bottom: rem(25px);
    overflow: hidden;
    max-width: 100%;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: $transition-standard;

    &--placeholder {
      position: unset;
      top: auto;
      left: auto;
      height: auto;
      opacity: 0;
    }
  }

  &__info {
    @media (min-width: $md) {
      flex: 0 0 46%;
      padding-left: $spacer * 3;
    }
  }

  &__colors-list {
    padding: 0;
    list-style: none;
    margin: 0;
    max-height: 0;
    transition: $transition-standard;
    overflow: hidden;

    @media (min-width: $md) {
      max-height: unset;
    }
  }

  &__colors {
    cursor: pointer;

    .product__intitle {
      &::after {
        content: '';
        display: inline-block;
        margin-left: $spacer;
        width: 14px;
        height: 8px;
        background: url('../images/dropdown.svg') no-repeat;
        background-size: cover;
        border: 0;
        border-radius: 0;
        box-shadow: 0;
        transform: rotate(180deg);

        @media (min-width: $md) {
          display: none;
        }
      }
    }

    &:hover,
    &:active {
      .product__colors-list {
        max-height: 999px;
      }

      .product__intitle {
        &::after {
          transform: rotate(0);
        }
      }
    }

    @media (min-width: $md) {
      margin-bottom: rem(22px);
    }
  }

  &__sustainability {
    margin-bottom: rem(22px);

    @media (min-width: $md) {
      margin-bottom: rem(44px);
    }

    &-list {
      padding: 0;
      list-style: none;
      margin: 0;
      max-height: 0;
      transition: $transition-standard;
      overflow: hidden;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;

      @media (min-width: $sm) {
        grid-template-columns: repeat(4, 1fr);
        max-height: unset;
      }
    }

    &-item {
      text-align: center;

      img {
        display: block;
        max-width: 66px;
        margin: 10px auto 10px auto;
      }
    }

    .product__intitle {
      &::after {
        content: '';
        display: inline-block;
        margin-left: $spacer;
        width: 14px;
        height: 8px;
        background: url('../images/dropdown.svg') no-repeat;
        background-size: cover;
        border: 0;
        border-radius: 0;
        box-shadow: 0;
        transform: rotate(180deg);

        @media (min-width: $md) {
          display: none;
        }
      }
    }

    &:hover,
    &:active {
      .product__sustainability-list {
        max-height: 999px;
      }

      .product__intitle {
        &::after {
          transform: rotate(0);
        }
      }
    }
  }

  &__color {
    display: inline-block;
    text-align: center;
    margin: rem(10px);

    @media (min-width: $md) {
      margin: 0 rem(20px) rem(20px) 0;
    }

    a {
      display: block;

      img {
        display: block;
        width: 60px;
        height: 60px;
        object-fit: cover;
      }
    }
  }

  &__features {
    @media (min-width: $md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: rem(57px);
    }
  }

  &__col1 {
    columns: 2;
    padding: $spacer $spacer * 2;
    column-gap: $spacer * 3;
    position: relative;

    @media (min-width: $md) {
      columns: 1;
      padding: 0;
      flex: 1;
    }

    p {
      margin-top: 0;
    }
  }

  &__col2 {
    padding: $spacer $spacer * 2;

    p {
      margin-top: 0;
    }

    @media (min-width: $md) {
      padding: 0 0 0 rem($spacer * 4);
      flex: 1;
    }
  }
}
