.super-menu {
  background-color: $super-light;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  transition: visibility, opacity 0.3s ease-in-out;

  &__social {
    display: flex;
    border-top: 1px solid $primary;
    padding-top: rem(16px);

    &-link {
      max-width: rem(25px);
      margin: 0 rem(10px);

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .nav {
    opacity: 0;
    margin: rem(48px) 0 rem(50px) 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-flow: column;
    justify-content: center;

    @media (min-width: $md) {
      padding: rem(100px) rem(80px);
      margin: 0;
    }

    .menu-item {
      @include menu;

      margin: rem(4px) 0;
      text-align: center;

      a {
        padding: rem(12px) rem(20px);
        display: block;
        font-weight: normal;

        &:hover {
          text-decoration: none;
          font-weight: bold;
        }
      }

      .sub-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;

        .menu-item {
          font-size: rem(18px);
          line-height: 1.39;
          letter-spacing: 0.6px;
          margin: 0;

          a {
            color: $dark;
            padding-top: rem(6px);
            padding-bottom: rem(6px);

            &:hover {
              color: $primary;
            }
          }
        }
      }

      &:hover {
        .sub-menu {
          max-height: 300px;
        }
      }
    }
  }

  &.is-open {
    z-index: 99;
    opacity: 1;
    visibility: visible;

    .super-menu__contact,
    .nav {
      opacity: 1;
      transition: opacity 0.3s ease-in;
      transition-delay: 0.3s;
    }
  }
}
