.top-filter {
  margin: rem(27px) auto 0 auto;
  max-width: 450px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-size: rem(18px);
  line-height: 1;
  letter-spacing: 0.6px;
  text-align: center;
  color: $primary;
  overflow: hidden;

  &__item {
    flex: 1;

    &:not(:last-child) {
      @media (min-width: $md) {
        border-right: 1px solid $light;
      }
    }

    a {
      color: $primary;
    }

    &.is-current {
      font-weight: bold;
    }
  }
}

.filter-dropdown {
  padding: 0;
  list-style: none;
  background-color: $light;
  max-height: 39px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  font-size: rem(14px);
  letter-spacing: 0.5px;
  font-weight: bold;
  text-transform: uppercase;
  color: $primary;
  text-align: left;
  overflow: hidden;
  position: relative;
  margin: 0 rem($gap) rem($gap) rem($gap);

  &__item {
    display: block;
    order: 1;
    height: 39px;
    padding: rem(9px) rem($spacer * 2) rem(9px) $spacer;
    background-color: $super-light;

    a {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &.is-current {
      background-color: $light;
      order: 0;
    }
  }

  &__wrapper {
    position: relative;
    margin: rem($spacer * 2) auto rem($spacer) auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.6px;
    text-align: center;
    color: $dark;
    text-transform: uppercase;
    margin: 0 0 $spacer 0;
    flex: 0 0 100%;
  }

  &::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 8px;
    background: url('../images/dropdown.svg') no-repeat;
    background-size: cover;
    border: 0;
    border-radius: 0;
    box-shadow: 0;
    right: 10px;
    top: 16px;
    transform: rotate(180deg);
    pointer-events: none;
  }

  &:hover {
    overflow: visible;
    z-index: 99;

    &::after {
      transform: rotate(0deg);
    }
  }
}
