.page {
  &__title {
    @include body-title;

    text-transform: uppercase;
    text-align: center;
    margin: 0 0 rem(35px) 0;

    @media (min-width: $md) {
      margin: 0 0 rem(66px) 0;
    }
  }
}
