*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body,
input,
textarea {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: $transition-standard;
  color: $primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}

body {
  @include body-text;

  color: $primary;
}

.container {
  @include container;

  &--full {
    max-width: rem($container-full-px);
  }

  &--small {
    max-width: rem($container-small-px);
  }
}

.section {
  padding-top: rem($spacer);

  @media (min-width: $md) {
    padding-top: rem(47px);
  }
}
