/** Colors */
$white:               #fff;
$primary:             #615d59;
$super-light:         #f5f4f3;
$light:               #eae7e4;
$dark:                #9a9691;
$grey:                #aaa;
$black:               #000;

/** Box Model  */
$gap:                   8px;
$spacer:                $gap * 2;
$container-px:          1052px;
$container-full-px:     1322px;
$container-small-px:    940px;

/** Grid settings */
$lg:                    rem(1200px);
$md:                    rem(1024px);
$sm:                    rem(768px);
$xs:                    rem(450px);

/** Fonts */
$font-primary:          Arial, Helvetica, sans-serif;

/** Misc */
$transition-standard:   all 0.3s ease-in-out;
